### Diccionarios

In [17]:
programming_dictionary = {"Bug":"An error in a programn that from", "Function":"A piece of code that you can esaly call over an d over"}
print(programming_dictionary["Bug"])

An error in a programn that from

In [5]:
#Adding new items to dicctionary
programming_dictionary["Loop"] = "The action something doing"
print(programming_dictionary)

{'Bug': 'An error in a programn that from', 'Function': 'A piece of code that you can esaly call over an d over', 'Loop': 'The action something doing'}

In [11]:
#crear un diccionario vacio
empty_dictionary = {}

In [13]:
#Limpiar un diciconario existente
empty_dictionary = {}
print(empty_dictionary)

{}

In [15]:
#Edit an item in a dictionary
empty_dictionary["Bug"] = "A moth in your computer."
print(empty_dictionary)

{'Bug': 'A moth in your computer.'}

In [19]:
#Loop through a dictionary
for thing in empty_dictionary:
    print(thing)

Bug

In [22]:
for key in programming_dictionary:
    print(key)
    print(programming_dictionary[key])

Bug
An error in a programn that from
Function
A piece of code that you can esaly call over an d over

In [26]:
#Ejercicios con diccionarios
student_scores = {
    "Harry": 81,
    "Ron": 80,
    "Hermione": 71,
    "Draco": 74,
    "Nevelly": 62,
}

#1.crear un diccionario vacio
student_grades = {}

#2.Crear el codigo de grados
for student in student_scores:
    score = student_scores[student]
    if score > 90:
        student_grades[student] = "Outstanding"
    elif score > 80:
        student_grades[student] = "Exceeds Expectations"
    elif score > 70:
        student_grades[student] = "Acceptable"
    else:
        student_grades[student] = "Fail"
        
#Dont change the code below
print(student_grades)

{'Harry': 'Exceeds Expectations', 'Ron': 'Acceptable', 'Hermione': 'Acceptable', 'Draco': 'Acceptable', 'Nevelly': 'Fail'}

In [27]:
#Nesting a List in a Dictionary
travel_log = {
    "France": ["Paris", "Lille", "Dijon"],
    "Germany": ["Berlin","Hamburg","Stuttgart"]
}

In [29]:
#Nesting Dictionary in a Dictionary
travel_log = {
    "France": {"cities_visited":["Paris","Lille","Dijon"], "total_visits": 12},
    "Germany": {"cities_visited": ["berlin","Hamburg","Stuttgart"], "tolta_visits":5},
}

print(travel_log)

{'France': {'cities_visited': ['Paris', 'Lille', 'Dijon'], 'total_visits': 12}, 'Germany': {'cities_visited': ['berlin', 'Hamburg', 'Stuttgart'], 'tolta_visits': 5}}

In [31]:
#Nesting Dictionary in a List
travel_log = [
    {
        "country":"France",
        "cities_visited": ["Paris", "Lille", "Dijon"],
        "total_visits":12
    },
    {
        "country": "Germany",
        "cities_visited": ["Berlin", "Hamburg", "Stuttgart"],
        "total_visits": 5
    }
]

print(travel_log)

[{'country': 'France', 'cities_visited': ['Paris', 'Lille', 'Dijon'], 'total_visits': 12}, {'country': 'Germany', 'cities_visited': ['Berlin', 'Hamburg', 'Stuttgart'], 'total_visits': 5}]

In [34]:
travel_log = [
    {
        "country":"France",
        "visits":12,
        "cities": ["Paris", "Lille", "Dijon"]
    },
    {
        "country": "Germany",
        "visits": 5,
        "cities": ["Berlin", "Hamburg", "Stuttgart"]
    },
]

#TODO: WRITETHE FUNCTION THAT WILL ALLOW NEW CONUTRIES
#TO BE ADDED TI THE TRAVEL
def add_new_country(country_visited, times_visited, cities_visited):
    new_country = {}
    new_country["country"] = country_visited
    new_country["visits"] = times_visited
    new_country["cities"] =  cities_visited
    travel_log.append(new_country)
#Dont not change the code below
add_new_country("Russian",2,["Moscow", "Saint Petersburg"])
print(travel_log)

[{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lille', 'Dijon']}, {'country': 'Germany', 'visits': 5, 'cities': ['Berlin', 'Hamburg', 'Stuttgart']}, {'country': 'Russian', 'visits': 2, 'cities': ['Moscow', 'Saint Petersburg']}]

In [36]:
order = {
    "starter": {1: "Salad", 2: "Soup"},
    "main": {1: ["Burger", "Fries"], 2: ["Steak"]},
    "dessert": {1: ["Ice Cream"], 2: []},
}

print(order["main"][2][0])

Steak